{% extends "base.html" %}
{% load static %}

{% block content %}
    <div >
        <div class="row">
            <div class="col mx-auto text-center">
                <br>
                <h2>Shopping Cart</h2>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col mx-auto text-center">
                {% if bag_items %}
                    <div class="table-responsive rounded"></div>
                {% else %}
                    <p class="lead mb-5">Your cart is empty</p>
                    <a href="{% url 'services' %}" class="btn btn-success">Keep Shopping</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
