html{
    height: 100%;
}

body{
    font-family: 'Nanum Gothic', sans-serif;
    height: calc(100vh - 60px);
}

.service-img{
    color: #004773;
    font-size: 5rem; 
}

.service-img:hover{
   color: #ea7023; 
}

h5{
    font-weight: bold;
    color: #ea7023;
}

h6{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 0.75rem;
    color: #505253;
}

.service-description{
    margin-left: 2px;
    margin-right: 2px;
}

.card{
    height: 20rem;
    min-height: 20rem;
}

.service-detail-img{
    color: #004773;
    font-size: 15rem;
    vertical-align: middle;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.btn-warning{
    background-color: #ea7023;
    color: white;  
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* ---------------- Media Queries ---------------- */

/* Slightly larger container o xl screen */
@media (min-width: 1200px){
    .container{
        max-width: 80%;
    }
}

/* Fixed top nvbar only on medium and up */
@media (min-width: 992px){
    .fixed-top-desktop-only{
        position: fixed;
        top: 0;
        right: 0;
        left:0;
        z-index: 1030;
    }

    .header-container{
        padding-top:60px;
    }
}
